.btn-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 7.3125rem);
  gap: 0.875rem;
  padding: 0;
}

@media (max-width:48rem) {
  .btn-list{
    grid-template-columns: repeat(2, 1fr);
  }
  
}
.percentage-btn {
  width: 100%;
  font-family: 'Space Mono', monospace;
  font-size: 1.1875rem;
  font-weight: 500;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 10px;
  padding: 1rem 0;
}
.percentage-btn:hover, .percentage-btn:active {
  background-color: hsl(172, 67%, 45%);
  cursor: pointer;
}



.activeInput{
  box-sizing: border-box;
  height: 2.8125rem;
  margin:0;
  padding: 1.5rem 0.5rem;  
  
  background-color: hsl(189, 41%, 97%);
  border: 0.5px solid  hsl(172, 67%, 45%);

  font-family: 'Space Mono', monospace;
  font-size: 1.1875rem;
  font-weight: 500;
  color:hsl(183, 100%, 15%);  
}

.activeInput:active{
  border: 0.5px hsl(172, 67%, 45%);
}

.activeInput:hover{
  background-color:  hsl(189, 41%, 97%);
}



